/* Шрифти */
/* Імпорт з сайту fonts.google.com */
@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handjet:wght,ELGR,ELSH@100..900,1..2,0..16&display=swap");
/* Підключення через плагін */
@import url("https://fonts.googleapis.com/css?family=Angkor:regular");
@import url("https://fonts.googleapis.com/css?family=Rubik+Dirt:regular");
/* Локальне підключення */
@import url("fonts.css");

@import url("reset.css");

body {
	font-family: "Alice", serif;
	font-weight: 500;
}

.header .title {
	font-family: "Angkor", serif;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: brown;
	text-align: right;
	text-shadow: 1px 1px 2px black;
}

.header .content {
	font-size: 20px;
	font-style: italic;
	color: orangered;
	word-spacing: 5px;
	text-align: left;
}

.header h2 {
	font-weight: bold;
	color:chocolate;
	text-transform: uppercase;
	text-decoration: underline;
	text-decoration-color: brown;
	line-height: 40px;
	text-align: left;
}

.picture {
	text-align: center;
}

.main h3 {
	font-family: "Handjet", sans-serif;
	font-size: 30px;
	font-weight: 500;
	text-align: center;
	text-transform: capitalize;
	line-height: 40px;
	color:blue;
	text-decoration: underline;
	text-decoration-style: wavy;
	word-spacing: 30px;
}

span {
	color: aqua;
	text-decoration: line-through;
}

mark {
	color:blueviolet;
	text-decoration: overline;
	text-decoration-color: aqua;
	text-decoration-style: dashed;
}

.features p {
	font-family: "Bad Script", cursive;
	font-weight: 700;
	word-spacing: nowrap;
}

.krovato {
	font-family: "Proxima Nova", sans-serif;
	font-weight: 400;
	color: #2b2929;
}

.how-to-choose h4 {
	font-size: 40px;
	text-align: center;
	line-height: 1.2;
	/* 48px/40px */
}

.how-to-choose-text-1,
.how-to-choose-text-2,
.how-to-choose-text-3 {
	font-size: 16px;
	text-align: left;
	line-height: 1.875;
	/* 30px/16px */
}

.krovato-block-2 h4 {
	font-size: 40px;
	text-align: left;
	line-height: 1.2; /* 48/40 */
}

.block-2-img {
	width: 100%;
}

.krovato-block-2 p {
	font-size: 16px;
	text-align: left;
	line-height: 1.875; /* 30/16 */
}

.krovato-block-2 h5 {
	font-size: 20px;
	font-weight: 600;
	text-align: left;
	line-height: 1.4; /* 28/20 */
}

.block-2-list {
	font-size: 16px;
	text-align: left;
	line-height: 1.875; /* 30/16 */
}

.footer {
	font-family: "Rubik Dirt", fantasy;
}

.footer a {
	color:blue;
	text-decoration: underline;
}