@import url(https://fonts.googleapis.com/css?family=Comfortaa:regular,500,600&display=swap);
@import url("reset.css");
.wrapper {
	min-height: 100%;
	overflow: clip;
	font-family: "Comfortaa", serif;
}
body {
	background: url("../img/nasa_bg.webp");
}
.header {
	padding: 20px;
}
.header__title {
	font-size: 40px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	color: rgb(253, 253, 250);
}
.page {
}
.practice {
	max-width: 1300px;
	margin: 0 auto;
}
/* =======2D======== */
.transform-2d {
	width: 100%;
	margin: 0 auto;
}
.transform-2d__title,
.transform-3d__title {
	font-size: 30px;
	font-weight: 500;
	text-align: center;
	color: white;
	padding: 10px;
	background-color:rgb(39, 4, 68);
}
.transform-2d__content,
.transform-3d__content {
	display: inline-block;
	width: 300px;
	height: 300px;
	background: rgb(248, 248, 248, 0.4);
	margin: 10px;
}
.transform-2d__item-1 {
}
.item-transform-2d,
.item-transform-3d {
	font-weight: regular;
	color: yellow;
	text-align: center;
	text-transform: uppercase;
	width: 300px;
	height: 300px;
	background: rgb(4, 40, 139);
	padding-top: 40px;
	border: 2px solid;
}
.transform-2d__content:hover .transform-2d__item-1 {
	transform: translate(20px, 20px);
}
.transform-2d__content:hover .transform-2d__item-2 {
	transform: translate(10%, 20%);
}
.transform-2d__content:hover .transform-2d__item-3 {
	transform: scale(1.5);
}
.transform-2d__content:hover .transform-2d__item-4 {
	transform: scale(-1,1);
}
.transform-2d__content:hover .transform-2d__item-5 {
	transform: rotate(-60deg);
}
.transform-2d__content:hover .transform-2d__item-6 {
	transform: skew(-20deg,30deg);
}
.transform-2d__content:hover .transform-2d__item-7 {
	transform-origin: center;
	transform: rotate(20deg);
}
.transform-2d__content:hover .transform-2d__item-8 {
	transform-origin: (20px 40px);
	transform: rotate(-45deg);
}
/* ========3D======= */
.transform-3d__content {
	perspective: 400px;
	perspective-origin: center;
	transform-style: preserve-3d;
}
.transform-3d__content:hover .transform-3d__item-1 {
	transform: translate3d(20px, 50px, 90px);
}
.transform-3d__content:hover .transform-3d__item-2 {
	transform: scale3d(1.2, 1.2, 1);
}
.transform-3d__content:hover .transform-3d__item-3 {
	transform: rotate3d(40, 20, 20, 50deg);
}
/* =======Flipper======== */
.card {
	padding-top: 30px;
	margin-bottom: 20px;
}
.card__body {
	position: relative;
	width: 200px;
	perspective: 500px;
	margin: 0 auto;
}
.card__body img {
	max-width: 100%;
}
.card__front,
.card__back {
transition: all 0.3s;
}
.card__front {
	backface-visibility: hidden;
	transform: rotateY(0deg);
}
.card__back {
	position: absolute;
	top: 0;
	left: 0;
	transform: rotateY(180deg);
}
.card__body:hover .card__front {
	transform: rotateY(-180deg);
}
.card__body:hover .card__back {
	transform: rotateY(0deg);
}
/* =======Car======== */
.car {
	width: 1500px;
	height: 1000px;
	background: url("../img/city_bg.jpg") 0 0 / 100% no-repeat;
	position: relative;
}
.car__body {
	position: relative;
}
.items {
	position: relative;
}
.items__frame {
	width: 800px;
	height: 180px;
	background-color: #d30505;
	border-radius: 27% 73% 3% 97% / 34% 68% 32% 66%;
	border: 1px solid black;
	position: absolute;
	top: 700px;
	left: 100px;
	z-index: 2;
	transform: rotate(-5deg);
}
.items__roof {
	width: 310px;
	height: 120px;
	background-color: #d30505;
	border-radius: 47% 53% 3% 97% / 100% 68% 32% 0%;
	border: 1px solid black;
	position: absolute;
	top: 600px;
	left: 370px;
	z-index: 1;
}
.items__window {
	width: 290px;
	height: 100px;
	background-color: rgb(104, 128, 180);
	border-radius: 47% 53% 3% 97% / 100% 68% 32% 0%;
	border: 1px solid black;
	position: absolute;
	top: 610px;
	left: 380px;
	z-index: 4;
} 
.items__door {
	position: absolute;
	top: 720px;
	left: 420px;
	z-index: 10;
	transform: scale(-1,1);
	width: 210px;
	height: 140px;
	border-radius: 43% 57% 0% 100% / 55% 0% 100% 45%;
	border: 2px solid black;
	background-color: #d30505;
}
.items__door::after {
	content: "";
	width: 30px;
	height: 5px;
	border-radius: 2px;
	background-color: black;
	position: absolute;
	top: 50px;
	left: 10px;
}
.items__front-light {
	width: 50px;
	height: 48px;
	background-color: rgb(248, 232, 5);
	border-radius: 58% 42% 13% 87% / 39% 0% 100% 61%; 
	border: 1px solid black;
	position: absolute;
	top: 760px;
	left: 80px;
	z-index: 7;
}
.items__back-light {
	width: 70px;
	height: 20px;
	background-color: rgb(255, 141, 10);
	border-radius: 46% 54% 0% 100% / 51% 18% 82% 49%; 
	border: 1px solid black;
	position: absolute;
	top: 777px;
	left: 827px;
	z-index: 7;
	transform: scale(-1,1);
}
.left-wheel {
	position: absolute;
	top: 810px;
	left: 300px;
	z-index: 4;
	width: 100px;
	height: 100px;
	background-color: black;
	border-radius: 50%;
	border: 6px dashed #313130;
}
.left-wheel__element {
	position: absolute;
	top: 22px;
	left: 23px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #4e1010;
	border: 5px double rgb(61, 48, 48);
	z-index: 5;
}
.right-wheel {
	position: absolute;
	top: 810px;
	left: 650px;
	z-index: 4;
	width: 100px;
	height: 100px;
	background-color: black;
	border-radius: 50%;
	border: 6px dashed #313130;
}
.right-wheel__element {
	position: absolute;
	top: 22px;
	left: 23px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #4e1010;
	border: 5px double rgb(61, 48, 48);
	z-index: 5;
}